STM32CubeMonitor/Temperature Sensor.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"38da2e7f.d3ad82","type":"tab","label":"Temperature Sensor","disabled":false,"info":"# Basic flow to start with STM32CubeMonitor."},{"id":"e5fecd0c.b22c1","type":"ui_chartst","z":"38da2e7f.d3ad82","group":"f897a7b0.dfeb68","name":"Temperature","order":2,"width":12,"height":8,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":390,"y":480,"wires":[]},{"id":"274d8054.0803f","type":"acquisition out","z":"38da2e7f.d3ad82","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":600,"y":60,"wires":[]},{"id":"d9402238.0cdc5","type":"acquisition in","z":"38da2e7f.d3ad82","name":"myProbe_In","probeconfig":"d9a6039e.00014","x":130,"y":420,"wires":[["346fcf57.0cc56"],[]]},{"id":"bb396a8a.ae3648","type":"variables","z":"38da2e7f.d3ad82","groupname":"Temperature Sensor Read","accesspoint":0,"execonfig":"c1d47755.9161c8","variablelist":[{"name":"temp","address":"0x20000008","type":"9"}],"triggerstartmode":"manual","triggername":"temp","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1640238176634,"openStatus":false,"x":380,"y":60,"wires":[["274d8054.0803f"]]},{"id":"119b86e8.b46309","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"f897a7b0.dfeb68","order":3,"width":12,"height":1,"passthru":false,"label":"Clear Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":230,"y":480,"wires":[["e5fecd0c.b22c1"]]},{"id":"15b4f58.f29180b","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"88960b2a.8e7c28","order":2,"width":5,"height":1,"passthru":false,"label":"CONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":130,"y":40,"wires":[["bb396a8a.ae3648"]]},{"id":"9e14551e.0b1538","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"88960b2a.8e7c28","order":3,"width":5,"height":1,"passthru":true,"label":"DISCONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":120,"y":80,"wires":[["bb396a8a.ae3648"]]},{"id":"346fcf57.0cc56","type":"processing","z":"38da2e7f.d3ad82","groupname":"Temperature Sensor Read","groupid":"bb396a8a.ae3648","expressions":[],"statistics":[],"logmode":"no","x":340,"y":420,"wires":[["e5fecd0c.b22c1","f7796af2.8def18"],[]]},{"id":"82ece61b.c50e38","type":"acquisition out","z":"38da2e7f.d3ad82","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":680,"y":260,"wires":[]},{"id":"94314e40.06e28","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"4005c42a.8add1c","order":3,"width":3,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":120,"y":220,"wires":[["62bb1c4b.f31274"]]},{"id":"3cba73e.d1bb58c","type":"template","z":"38da2e7f.d3ad82","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":310,"y":360,"wires":[["56e22904.8cab78"]]},{"id":"51f4e38c.ca8dfc","type":"ui_text_input","z":"38da2e7f.d3ad82","name":"","label":"Sampling Time","tooltip":"","group":"4005c42a.8add1c","order":1,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":120,"y":340,"wires":[["3cba73e.d1bb58c"]]},{"id":"8e275db8.a238a","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"4005c42a.8add1c","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":110,"y":260,"wires":[["62bb1c4b.f31274"]]},{"id":"8a2ef4ac.701ba8","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"990d8831.91f8f8","order":1,"width":10,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":300,"wires":[["62bb1c4b.f31274"]]},{"id":"cd3f2d92.9fce1","type":"split","z":"38da2e7f.d3ad82","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":390,"y":140,"wires":[["fe14616b.53679"]]},{"id":"62bb1c4b.f31274","type":"template","z":"38da2e7f.d3ad82","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":310,"y":260,"wires":[["56e22904.8cab78"]]},{"id":"2907e50d.ddfe2a","type":"template","z":"38da2e7f.d3ad82","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":630,"y":220,"wires":[["56e22904.8cab78"]]},{"id":"fe14616b.53679","type":"function","z":"38da2e7f.d3ad82","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["10628e7f.a61b12"]]},{"id":"56e22904.8cab78","type":"change","z":"38da2e7f.d3ad82","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["82ece61b.c50e38"]]},{"id":"769352a8.5b6b6c","type":"function","z":"38da2e7f.d3ad82","name":"","func":"if (msg.topic == 1 ) {\n    msg.payload = {\"group\":{\"hide\":[\"Temperature_Sensor_Stream\"],\"show\":[\"Temperature_Sensor_Sample\"]}};\n    return msg;\n}\n\nif (msg.payload == \"3\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Temperature_Sensor_Sample\"],\"show\":[\"Temperature_Sensor_Stream\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["d226e3e0.2abff"]]},{"id":"d226e3e0.2abff","type":"ui_ui_control","z":"38da2e7f.d3ad82","name":"","events":"connect","x":400,"y":180,"wires":[[]]},{"id":"f1b011fa.4cd55","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"88960b2a.8e7c28","order":5,"width":10,"height":1,"passthru":false,"label":"Stream (Optional)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":110,"y":180,"wires":[["769352a8.5b6b6c"]]},{"id":"10628e7f.a61b12","type":"change","z":"38da2e7f.d3ad82","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"num","to":"13","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"41","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":140,"wires":[["becd18be.812288"]]},{"id":"becd18be.812288","type":"delay","z":"38da2e7f.d3ad82","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":140,"wires":[["2907e50d.ddfe2a"]]},{"id":"720a3b1.8081cc4","type":"function","z":"38da2e7f.d3ad82","name":"","func":"var s=\"=332(\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["cd3f2d92.9fce1"]]},{"id":"668b0e00.a4abc","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"88960b2a.8e7c28","order":1,"width":0,"height":0,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":140,"y":380,"wires":[["3cba73e.d1bb58c"]]},{"id":"e88c4efc.e719","type":"ui_text","z":"38da2e7f.d3ad82","group":"f897a7b0.dfeb68","order":1,"width":12,"height":1,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"f7796af2.8def18","type":"subflow:8381c865.236028","z":"38da2e7f.d3ad82","name":"myFilter","env":[{"name":"varfilter","value":"temp","type":"str"}],"x":560,"y":420,"wires":[["aeaeb954.88e3d8"]]},{"id":"aeaeb954.88e3d8","type":"function","z":"38da2e7f.d3ad82","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" °C\"\nvar out=s;\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["e88c4efc.e719"]]},{"id":"de89b6f4.9a2208","type":"ui_button","z":"38da2e7f.d3ad82","name":"","group":"88960b2a.8e7c28","order":4,"width":10,"height":1,"passthru":false,"label":"Sample","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sample","payloadType":"str","topic":"1","x":140,"y":140,"wires":[["769352a8.5b6b6c","720a3b1.8081cc4"]]},{"id":"f897a7b0.dfeb68","type":"ui_group","z":"","name":"Temperature","tab":"eb24e2b6.e61ae","order":1,"disp":true,"width":12,"collapse":false},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"c1d47755.9161c8","type":"exe-config","z":"","name":"Temperature_Sensor ","exefile":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H09R9x\\STM32CubeIDE\\H09R9\\H09R9x.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H09R9x\\STM32CubeIDE\\H09R9","exevariablelist":[{"address":"0x08019490","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x2000170c","name":"acceptedMsg","type":3},{"address":"0x20000e9d","name":"ACK_FLAG","type":1},{"address":"0x080190b4","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080190a8","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x080190ac","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x080190b0","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006e34","name":"ADC0","type":1},{"address":"0x20000140","name":"ADC_Adress[0]","type":1},{"address":"0x200016b4","name":"ADC_flag","type":1},{"address":"0x200016c4","name":"ADC_value_temp","type":3},{"address":"0x200016c6","name":"ADC_value_Vref","type":3},{"address":"0x200016d8","name":"ADCchannelvalue[0]","type":3},{"address":"0x20006e38","name":"ADCComp","type":10},{"address":"0x20006e48","name":"ADCCompTC","type":10},{"address":"0x20006d9c","name":"ADCobj","type":6},{"address":"0x20006f68","name":"ADCobj1","type":1},{"address":"0x2000706e","name":"ADCobj2","type":1},{"address":"0x20006e31","name":"ADCobj3","type":1},{"address":"0x200017cc","name":"ADCPercentage","type":9},{"address":"0x200017bc","name":"ADCPort","type":3},{"address":"0x08019114","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019108","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x0801910c","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x08019110","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006f70","name":"ADCsen","type":6},{"address":"0x20006e41","name":"ADCsen1","type":1},{"address":"0x20006f74","name":"ADCsen2","type":1},{"address":"0x20006f61","name":"ADCsen3","type":1},{"address":"0x200017be","name":"ADCSide","type":3},{"address":"0x200017c0","name":"ADCValue","type":9},{"address":"0x20000114","name":"add10[0]","type":1},{"address":"0x20001948","name":"add10_10[0]","type":1},{"address":"0x20000118","name":"add11[0]","type":1},{"address":"0x20001950","name":"add11_11[0]","type":1},{"address":"0x2000011c","name":"add12[0]","type":1},{"address":"0x20001954","name":"add12_12[0]","type":1},{"address":"0x20000120","name":"add13[0]","type":1},{"address":"0x2000195c","name":"add13_13[0]","type":1},{"address":"0x20000124","name":"add14[0]","type":1},{"address":"0x20001960","name":"add14_14[0]","type":1},{"address":"0x20000128","name":"add15[0]","type":1},{"address":"0x20001968","name":"add15_15[0]","type":1},{"address":"0x2000012c","name":"add16[0]","type":1},{"address":"0x2000196c","name":"add16_16[0]","type":1},{"address":"0x20000130","name":"add17[0]","type":1},{"address":"0x20001974","name":"add17_17[0]","type":1},{"address":"0x20000134","name":"add18[0]","type":1},{"address":"0x20001978","name":"add18_18[0]","type":1},{"address":"0x20000138","name":"add19[0]","type":1},{"address":"0x20001980","name":"add19_19[0]","type":1},{"address":"0x200000f0","name":"add1[0]","type":1},{"address":"0x20001914","name":"add1_1[0]","type":1},{"address":"0x2000013c","name":"add20[0]","type":1},{"address":"0x20001984","name":"add20_20[0]","type":1},{"address":"0x200000f4","name":"add2[0]","type":1},{"address":"0x20001918","name":"add2_2[0]","type":1},{"address":"0x200000f8","name":"add3[0]","type":1},{"address":"0x20001920","name":"add3_3[0]","type":1},{"address":"0x200000fc","name":"add4[0]","type":1},{"address":"0x20001924","name":"add4_4[0]","type":1},{"address":"0x20000100","name":"add5[0]","type":1},{"address":"0x2000192c","name":"add5_5[0]","type":1},{"address":"0x20000104","name":"add6[0]","type":1},{"address":"0x20001930","name":"add6_6[0]","type":1},{"address":"0x20000108","name":"add7[0]","type":1},{"address":"0x20001938","name":"add7_7[0]","type":1},{"address":"0x2000010c","name":"add8[0]","type":1},{"address":"0x2000193c","name":"add8_8[0]","type":1},{"address":"0x20000110","name":"add9[0]","type":1},{"address":"0x20001944","name":"add9_9[0]","type":1},{"address":"0x20000e6a","name":"AddBcastPayload","type":1},{"address":"0x08018ff4","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018fe8","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x08018fec","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08018ff0","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000016c","name":"AHBPrescTable[0]","type":1},{"address":"0x200071e4","name":"arrayPortsDir[0]","type":3},{"address":"0x20006ed9","name":"ATIME","type":1},{"address":"0x20001534","name":"BackEndTaskHandle","type":5},{"address":"0x20000cd0","name":"bcastID","type":1},{"address":"0x20000bf0","name":"bcastRoutes[0]","type":3},{"address":"0x20006f66","name":"BLUE_data","type":3},{"address":"0x20006ee3","name":"blueReg","type":1},{"address":"0x08018f84","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f78","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x08018f7c","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x08018f80","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001d94","name":"bootStatus","type":1},{"address":"0x20006c7c","name":"BOS.buttons.debounce","type":3},{"address":"0x20006c81","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20006c80","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x20006c7e","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20006c84","name":"BOS.clibaudrate","type":5},{"address":"0x20006c91","name":"BOS.date.day","type":1},{"address":"0x20006c92","name":"BOS.date.month","type":1},{"address":"0x20006c90","name":"BOS.date.weekday","type":1},{"address":"0x20006c94","name":"BOS.date.year","type":3},{"address":"0x20006c88","name":"BOS.daylightsaving","type":1},{"address":"0x20006c96","name":"BOS.disableCLI","type":1},{"address":"0x20006c89","name":"BOS.hourformat","type":1},{"address":"0x20006c8f","name":"BOS.time.ampm","type":1},{"address":"0x20006c8e","name":"BOS.time.hours","type":1},{"address":"0x20006c8d","name":"BOS.time.minutes","type":1},{"address":"0x20006c8a","name":"BOS.time.msec","type":3},{"address":"0x20006c8c","name":"BOS.time.seconds","type":1},{"address":"0x20000038","name":"BOS_default.buttons.debounce","type":3},{"address":"0x2000003d","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x2000003c","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x2000003a","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x20000040","name":"BOS_default.clibaudrate","type":5},{"address":"0x2000004d","name":"BOS_default.date.day","type":1},{"address":"0x2000004e","name":"BOS_default.date.month","type":1},{"address":"0x2000004c","name":"BOS_default.date.weekday","type":1},{"address":"0x20000050","name":"BOS_default.date.year","type":3},{"address":"0x20000044","name":"BOS_default.daylightsaving","type":1},{"address":"0x20000052","name":"BOS_default.disableCLI","type":1},{"address":"0x20000045","name":"BOS_default.hourformat","type":1},{"address":"0x2000004b","name":"BOS_default.time.ampm","type":1},{"address":"0x2000004a","name":"BOS_default.time.hours","type":1},{"address":"0x20000049","name":"BOS_default.time.minutes","type":1},{"address":"0x20000046","name":"BOS_default.time.msec","type":3},{"address":"0x20000048","name":"BOS_default.time.seconds","type":1},{"address":"0x20000bef","name":"BOS_initialized","type":1},{"address":"0x20006c04","name":"BOS_var_reg[0]","type":5},{"address":"0x20006c00","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x20006bfe","name":"BOSMessaging.overrun","type":1},{"address":"0x20006bff","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x20006bfc","name":"BOSMessaging.response","type":1},{"address":"0x20006bfd","name":"BOSMessaging.trace","type":2},{"address":"0x20006c02","name":"BOSMessaging.trial","type":4},{"address":"0x20000034","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x20000032","name":"BOSMessging_default.overrun","type":1},{"address":"0x20000033","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x20000030","name":"BOSMessging_default.response","type":1},{"address":"0x20000031","name":"BOSMessging_default.trace","type":2},{"address":"0x20000036","name":"BOSMessging_default.trial","type":4},{"address":"0x080190e4","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080190d8","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x080190dc","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x080190e0","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e68","name":"broadcastResponse[0]","type":1},{"address":"0x20001908","name":"buf100[0]","type":1},{"address":"0x2000190c","name":"buf101[0]","type":1},{"address":"0x200018f4","name":"buf1[0]","type":1},{"address":"0x200018f8","name":"buf2[0]","type":1},{"address":"0x2000198c","name":"buf4[0]","type":1},{"address":"0x20006fec","name":"buf[0]","type":1},{"address":"0x200018fc","name":"buftc1[0]","type":1},{"address":"0x20001900","name":"buftc2[0]","type":1},{"address":"0x20001644","name":"button[0].events","type":1},{"address":"0x2000163e","name":"button[0].pressedX1Sec","type":1},{"address":"0x2000163f","name":"button[0].pressedX2Sec","type":1},{"address":"0x20001640","name":"button[0].pressedX3Sec","type":1},{"address":"0x20001641","name":"button[0].releasedY1Sec","type":1},{"address":"0x20001642","name":"button[0].releasedY2Sec","type":1},{"address":"0x20001643","name":"button[0].releasedY3Sec","type":1},{"address":"0x2000163c","name":"button[0].state","type":1},{"address":"0x2000163d","name":"button[0].type","type":1},{"address":"0x200016c8","name":"Channel","type":1},{"address":"0x20000bee","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x20006ff6","name":"CONTROL","type":1},{"address":"0x20006d1e","name":"counter","type":1},{"address":"0x20001da8","name":"cOutputBuffer[0]","type":2},{"address":"0x20001074","name":"crcBuffer[0]","type":1},{"address":"0x20000cd5","name":"cRxedChar","type":2},{"address":"0x200016d0","name":"current","type":9},{"address":"0x20000005","name":"currentCharacter","type":1},{"address":"0x20006f63","name":"data","type":1},{"address":"0x2000152c","name":"DataVar","type":3},{"address":"0x08019054","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019048","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x0801904c","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x08019050","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200016e4","name":"dblCounter[0]","type":1},{"address":"0x08019034","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019028","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x0801902c","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x08019030","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001530","name":"defaultTaskHandle","type":5},{"address":"0x200016e0","name":"delayButtonStateReset","type":1},{"address":"0x080190d4","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080190c8","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x080190cc","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x080190d0","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006d3f","name":"desiredArray","type":1},{"address":"0x20006d3e","name":"digitTheCommand","type":1},{"address":"0x200070e1","name":"distanceReg","type":1},{"address":"0x2000101c","name":"dmaStreamCount[0]","type":5},{"address":"0x2000104c","name":"dmaStreamDst[0]","type":5},{"address":"0x20001034","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000074","name":"dstGroupID","type":1},{"address":"0x20006f5f","name":"Enable","type":1},{"address":"0x200015f8","name":"finalMatrix[0]","type":1},{"address":"0x20006d40","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1},{"address":"0x08019094","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019088","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x0801908c","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x08019090","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200019d8","name":"frontendDMA[0].ErrorCode","type":5},{"address":"0x200019a8","name":"frontendDMA[0].Init.Direction","type":5},{"address":"0x200019b8","name":"frontendDMA[0].Init.MemDataAlignment","type":5},{"address":"0x200019b0","name":"frontendDMA[0].Init.MemInc","type":5},{"address":"0x200019bc","name":"frontendDMA[0].Init.Mode","type":5},{"address":"0x200019b4","name":"frontendDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x200019ac","name":"frontendDMA[0].Init.PeriphInc","type":5},{"address":"0x200019c0","name":"frontendDMA[0].Init.Priority","type":5},{"address":"0x200019a4","name":"frontendDMA[0].Instance","type":5},{"address":"0x200019c4","name":"frontendDMA[0].Lock","type":2},{"address":"0x200019c8","name":"frontendDMA[0].Parent","type":5},{"address":"0x200019c5","name":"frontendDMA[0].State","type":2},{"address":"0x200019cc","name":"frontendDMA[0].XferCpltCallback","type":5},{"address":"0x200019d4","name":"frontendDMA[0].XferErrorCallback","type":5},{"address":"0x200019d0","name":"frontendDMA[0].XferHalfCpltCallback","type":5},{"address":"0x08019024","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019018","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x0801901c","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x08019020","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019144","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019138","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x0801913c","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x08019140","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x2000706c","name":"GREEN_data","type":3},{"address":"0x20006ede","name":"greenReg","type":1},{"address":"0x08018fb4","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018fa8","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x08018fac","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x08018fb0","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000b80","name":"groupModules[0]","type":3},{"address":"0x20006e24","name":"H09R9_temperature","type":9},{"address":"0x20006e54","name":"h_add1","type":1},{"address":"0x200070e7","name":"h_add10","type":1},{"address":"0x20006f5e","name":"h_add11","type":1},{"address":"0x20006e33","name":"h_add12","type":1},{"address":"0x2000706a","name":"h_add13","type":1},{"address":"0x200070e6","name":"h_add14","type":1},{"address":"0x20006e32","name":"h_add15","type":1},{"address":"0x20006e23","name":"h_add16","type":1},{"address":"0x20006d9a","name":"h_add17","type":1},{"address":"0x20006ee1","name":"h_add18","type":1},{"address":"0x20006f5d","name":"h_add19","type":1},{"address":"0x20006da2","name":"h_add2","type":1},{"address":"0x20006f62","name":"h_add20","type":1},{"address":"0x20006da1","name":"h_add3","type":1},{"address":"0x20006e56","name":"h_add4","type":1},{"address":"0x20006e22","name":"h_add5","type":1},{"address":"0x200070e5","name":"h_add6","type":1},{"address":"0x20006e50","name":"h_add7","type":1},{"address":"0x20006f6e","name":"h_add8","type":1},{"address":"0x20006e55","name":"h_add9","type":1},{"address":"0x20006f60","name":"h_RT1","type":1},{"address":"0x20007069","name":"h_RT2","type":1},{"address":"0x20006da0","name":"h_TC1","type":1},{"address":"0x20006e40","name":"h_TC2","type":1},{"address":"0x20006ed8","name":"h_TSenMax","type":1},{"address":"0x200070e4","name":"h_TSenMin","type":1},{"address":"0x20006d80","name":"hadc.DMA_Handle","type":5},{"address":"0x20006d8c","name":"hadc.ErrorCode","type":5},{"address":"0x20006d48","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20006d64","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20006d50","name":"hadc.Init.DataAlign","type":5},{"address":"0x20006d68","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20006d74","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20006d58","name":"hadc.Init.EOCSelection","type":5},{"address":"0x20006d6c","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20006d70","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20006d60","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x20006d5c","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x20006d78","name":"hadc.Init.Overrun","type":5},{"address":"0x20006d4c","name":"hadc.Init.Resolution","type":5},{"address":"0x20006d7c","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x20006d54","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20006d44","name":"hadc.Instance","type":5},{"address":"0x20006d84","name":"hadc.Lock","type":2},{"address":"0x20006d88","name":"hadc.State","type":5},{"address":"0x200070f8","name":"hcrc.Init.CRCLength","type":5},{"address":"0x200070f1","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x200070f0","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x200070f4","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x200070fc","name":"hcrc.Init.InitValue","type":5},{"address":"0x20007100","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x20007104","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x2000710c","name":"hcrc.InputDataFormat","type":5},{"address":"0x200070ec","name":"hcrc.Instance","type":5},{"address":"0x20007108","name":"hcrc.Lock","type":2},{"address":"0x20007109","name":"hcrc.State","type":2},{"address":"0x20007148","name":"hi2c2.ErrorCode","type":5},{"address":"0x20007140","name":"hi2c2.hdmarx","type":5},{"address":"0x2000713c","name":"hi2c2.hdmatx","type":5},{"address":"0x2000711c","name":"hi2c2.Init.AddressingMode","type":5},{"address":"0x20007120","name":"hi2c2.Init.DualAddressMode","type":5},{"address":"0x2000712c","name":"hi2c2.Init.GeneralCallMode","type":5},{"address":"0x20007130","name":"hi2c2.Init.NoStretchMode","type":5},{"address":"0x20007118","name":"hi2c2.Init.OwnAddress1","type":5},{"address":"0x20007124","name":"hi2c2.Init.OwnAddress2","type":5},{"address":"0x20007128","name":"hi2c2.Init.OwnAddress2Masks","type":5},{"address":"0x20007114","name":"hi2c2.Init.Timing","type":5},{"address":"0x20007110","name":"hi2c2.Instance","type":5},{"address":"0x20007144","name":"hi2c2.Lock","type":2},{"address":"0x20007134","name":"hi2c2.pBuffPtr","type":5},{"address":"0x20007145","name":"hi2c2.State","type":2},{"address":"0x2000713a","name":"hi2c2.XferCount","type":3},{"address":"0x20007138","name":"hi2c2.XferSize","type":3},{"address":"0x200071c0","name":"htim14.Channel","type":2},{"address":"0x200071c4","name":"htim14.hdma[0]","type":5},{"address":"0x200071b8","name":"htim14.Init.ClockDivision","type":5},{"address":"0x200071b0","name":"htim14.Init.CounterMode","type":5},{"address":"0x200071b4","name":"htim14.Init.Period","type":5},{"address":"0x200071ac","name":"htim14.Init.Prescaler","type":5},{"address":"0x200071bc","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x200071a8","name":"htim14.Instance","type":5},{"address":"0x200071e0","name":"htim14.Lock","type":2},{"address":"0x200071e1","name":"htim14.State","type":2},{"address":"0x20007184","name":"htim15.Channel","type":2},{"address":"0x20007188","name":"htim15.hdma[0]","type":5},{"address":"0x2000717c","name":"htim15.Init.ClockDivision","type":5},{"address":"0x20007174","name":"htim15.Init.CounterMode","type":5},{"address":"0x20007178","name":"htim15.Init.Period","type":5},{"address":"0x20007170","name":"htim15.Init.Prescaler","type":5},{"address":"0x20007180","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x2000716c","name":"htim15.Instance","type":5},{"address":"0x200071a4","name":"htim15.Lock","type":2},{"address":"0x200071a5","name":"htim15.State","type":2},{"address":"0x20006f0c","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006f28","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006f2c","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006f18","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x20006f24","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006f30","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x20006f20","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006f14","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006f1c","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x20006f10","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006f54","name":"huart1.ErrorCode","type":5},{"address":"0x20006f4c","name":"huart1.hdmarx","type":5},{"address":"0x20006f48","name":"huart1.hdmatx","type":5},{"address":"0x20006eec","name":"huart1.Init.BaudRate","type":5},{"address":"0x20006f00","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x20006efc","name":"huart1.Init.Mode","type":5},{"address":"0x20006f08","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x20006f04","name":"huart1.Init.OverSampling","type":5},{"address":"0x20006ef8","name":"huart1.Init.Parity","type":5},{"address":"0x20006ef4","name":"huart1.Init.StopBits","type":5},{"address":"0x20006ef0","name":"huart1.Init.WordLength","type":5},{"address":"0x20006ee8","name":"huart1.Instance","type":5},{"address":"0x20006f50","name":"huart1.Lock","type":2},{"address":"0x20006f44","name":"huart1.Mask","type":3},{"address":"0x20006f3c","name":"huart1.pRxBuffPtr","type":5},{"address":"0x20006f34","name":"huart1.pTxBuffPtr","type":5},{"address":"0x20006f42","name":"huart1.RxXferCount","type":3},{"address":"0x20006f40","name":"huart1.RxXferSize","type":3},{"address":"0x20006f51","name":"huart1.State","type":2},{"address":"0x20006f3a","name":"huart1.TxXferCount","type":3},{"address":"0x20006f38","name":"huart1.TxXferSize","type":3},{"address":"0x20007094","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200070b0","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200070b4","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200070a0","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x200070ac","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200070b8","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x200070a8","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x2000709c","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200070a4","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x20007098","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200070dc","name":"huart2.ErrorCode","type":5},{"address":"0x200070d4","name":"huart2.hdmarx","type":5},{"address":"0x200070d0","name":"huart2.hdmatx","type":5},{"address":"0x20007074","name":"huart2.Init.BaudRate","type":5},{"address":"0x20007088","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x20007084","name":"huart2.Init.Mode","type":5},{"address":"0x20007090","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x2000708c","name":"huart2.Init.OverSampling","type":5},{"address":"0x20007080","name":"huart2.Init.Parity","type":5},{"address":"0x2000707c","name":"huart2.Init.StopBits","type":5},{"address":"0x20007078","name":"huart2.Init.WordLength","type":5},{"address":"0x20007070","name":"huart2.Instance","type":5},{"address":"0x200070d8","name":"huart2.Lock","type":2},{"address":"0x200070cc","name":"huart2.Mask","type":3},{"address":"0x200070c4","name":"huart2.pRxBuffPtr","type":5},{"address":"0x200070bc","name":"huart2.pTxBuffPtr","type":5},{"address":"0x200070ca","name":"huart2.RxXferCount","type":3},{"address":"0x200070c8","name":"huart2.RxXferSize","type":3},{"address":"0x200070d9","name":"huart2.State","type":2},{"address":"0x200070c2","name":"huart2.TxXferCount","type":3},{"address":"0x200070c0","name":"huart2.TxXferSize","type":3},{"address":"0x20006dd0","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006dec","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006df0","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006ddc","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x20006de8","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006df4","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x20006de4","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006dd8","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006de0","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x20006dd4","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006e18","name":"huart3.ErrorCode","type":5},{"address":"0x20006e10","name":"huart3.hdmarx","type":5},{"address":"0x20006e0c","name":"huart3.hdmatx","type":5},{"address":"0x20006db0","name":"huart3.Init.BaudRate","type":5},{"address":"0x20006dc4","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x20006dc0","name":"huart3.Init.Mode","type":5},{"address":"0x20006dcc","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x20006dc8","name":"huart3.Init.OverSampling","type":5},{"address":"0x20006dbc","name":"huart3.Init.Parity","type":5},{"address":"0x20006db8","name":"huart3.Init.StopBits","type":5},{"address":"0x20006db4","name":"huart3.Init.WordLength","type":5},{"address":"0x20006dac","name":"huart3.Instance","type":5},{"address":"0x20006e14","name":"huart3.Lock","type":2},{"address":"0x20006e08","name":"huart3.Mask","type":3},{"address":"0x20006e00","name":"huart3.pRxBuffPtr","type":5},{"address":"0x20006df8","name":"huart3.pTxBuffPtr","type":5},{"address":"0x20006e06","name":"huart3.RxXferCount","type":3},{"address":"0x20006e04","name":"huart3.RxXferSize","type":3},{"address":"0x20006e15","name":"huart3.State","type":2},{"address":"0x20006dfe","name":"huart3.TxXferCount","type":3},{"address":"0x20006dfc","name":"huart3.TxXferSize","type":3},{"address":"0x2000701c","name":"huart4.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007038","name":"huart4.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x2000703c","name":"huart4.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007028","name":"huart4.AdvancedInit.DataInvert","type":5},{"address":"0x20007034","name":"huart4.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007040","name":"huart4.AdvancedInit.MSBFirst","type":5},{"address":"0x20007030","name":"huart4.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007024","name":"huart4.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x2000702c","name":"huart4.AdvancedInit.Swap","type":5},{"address":"0x20007020","name":"huart4.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007064","name":"huart4.ErrorCode","type":5},{"address":"0x2000705c","name":"huart4.hdmarx","type":5},{"address":"0x20007058","name":"huart4.hdmatx","type":5},{"address":"0x20006ffc","name":"huart4.Init.BaudRate","type":5},{"address":"0x20007010","name":"huart4.Init.HwFlowCtl","type":5},{"address":"0x2000700c","name":"huart4.Init.Mode","type":5},{"address":"0x20007018","name":"huart4.Init.OneBitSampling","type":5},{"address":"0x20007014","name":"huart4.Init.OverSampling","type":5},{"address":"0x20007008","name":"huart4.Init.Parity","type":5},{"address":"0x20007004","name":"huart4.Init.StopBits","type":5},{"address":"0x20007000","name":"huart4.Init.WordLength","type":5},{"address":"0x20006ff8","name":"huart4.Instance","type":5},{"address":"0x20007060","name":"huart4.Lock","type":2},{"address":"0x20007054","name":"huart4.Mask","type":3},{"address":"0x2000704c","name":"huart4.pRxBuffPtr","type":5},{"address":"0x20007044","name":"huart4.pTxBuffPtr","type":5},{"address":"0x20007052","name":"huart4.RxXferCount","type":3},{"address":"0x20007050","name":"huart4.RxXferSize","type":3},{"address":"0x20007061","name":"huart4.State","type":2},{"address":"0x2000704a","name":"huart4.TxXferCount","type":3},{"address":"0x20007048","name":"huart4.TxXferSize","type":3},{"address":"0x20006e7c","name":"huart5.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006e98","name":"huart5.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006e9c","name":"huart5.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006e88","name":"huart5.AdvancedInit.DataInvert","type":5},{"address":"0x20006e94","name":"huart5.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006ea0","name":"huart5.AdvancedInit.MSBFirst","type":5},{"address":"0x20006e90","name":"huart5.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006e84","name":"huart5.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006e8c","name":"huart5.AdvancedInit.Swap","type":5},{"address":"0x20006e80","name":"huart5.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006ec4","name":"huart5.ErrorCode","type":5},{"address":"0x20006ebc","name":"huart5.hdmarx","type":5},{"address":"0x20006eb8","name":"huart5.hdmatx","type":5},{"address":"0x20006e5c","name":"huart5.Init.BaudRate","type":5},{"address":"0x20006e70","name":"huart5.Init.HwFlowCtl","type":5},{"address":"0x20006e6c","name":"huart5.Init.Mode","type":5},{"address":"0x20006e78","name":"huart5.Init.OneBitSampling","type":5},{"address":"0x20006e74","name":"huart5.Init.OverSampling","type":5},{"address":"0x20006e68","name":"huart5.Init.Parity","type":5},{"address":"0x20006e64","name":"huart5.Init.StopBits","type":5},{"address":"0x20006e60","name":"huart5.Init.WordLength","type":5},{"address":"0x20006e58","name":"huart5.Instance","type":5},{"address":"0x20006ec0","name":"huart5.Lock","type":2},{"address":"0x20006eb4","name":"huart5.Mask","type":3},{"address":"0x20006eac","name":"huart5.pRxBuffPtr","type":5},{"address":"0x20006ea4","name":"huart5.pTxBuffPtr","type":5},{"address":"0x20006eb2","name":"huart5.RxXferCount","type":3},{"address":"0x20006eb0","name":"huart5.RxXferSize","type":3},{"address":"0x20006ec1","name":"huart5.State","type":2},{"address":"0x20006eaa","name":"huart5.TxXferCount","type":3},{"address":"0x20006ea8","name":"huart5.TxXferSize","type":3},{"address":"0x20006f9c","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006fb8","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006fbc","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006fa8","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x20006fb4","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006fc0","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x20006fb0","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006fa4","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006fac","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x20006fa0","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006fe4","name":"huart6.ErrorCode","type":5},{"address":"0x20006fdc","name":"huart6.hdmarx","type":5},{"address":"0x20006fd8","name":"huart6.hdmatx","type":5},{"address":"0x20006f7c","name":"huart6.Init.BaudRate","type":5},{"address":"0x20006f90","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x20006f8c","name":"huart6.Init.Mode","type":5},{"address":"0x20006f98","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x20006f94","name":"huart6.Init.OverSampling","type":5},{"address":"0x20006f88","name":"huart6.Init.Parity","type":5},{"address":"0x20006f84","name":"huart6.Init.StopBits","type":5},{"address":"0x20006f80","name":"huart6.Init.WordLength","type":5},{"address":"0x20006f78","name":"huart6.Instance","type":5},{"address":"0x20006fe0","name":"huart6.Lock","type":2},{"address":"0x20006fd4","name":"huart6.Mask","type":3},{"address":"0x20006fcc","name":"huart6.pRxBuffPtr","type":5},{"address":"0x20006fc4","name":"huart6.pTxBuffPtr","type":5},{"address":"0x20006fd2","name":"huart6.RxXferCount","type":3},{"address":"0x20006fd0","name":"huart6.RxXferSize","type":3},{"address":"0x20006fe1","name":"huart6.State","type":2},{"address":"0x20006fca","name":"huart6.TxXferCount","type":3},{"address":"0x20006fc8","name":"huart6.TxXferSize","type":3},{"address":"0x00000000","name":"humidityReg","type":1},{"address":"0x08019084","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019078","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x0801907c","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x08019080","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e9e","name":"indMode","type":1},{"address":"0x08018fd4","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018fc8","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x08018fcc","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x08018fd0","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200017c8","name":"InternalTemperature","type":9},{"address":"0x200017c4","name":"InternalVoltageReferance","type":9},{"address":"0x2000194c","name":"k0comp","type":9},{"address":"0x20001988","name":"k0Obj","type":9},{"address":"0x20001940","name":"k1comp","type":9},{"address":"0x2000197c","name":"k1Obj","type":9},{"address":"0x20001934","name":"k2comp","type":9},{"address":"0x20001970","name":"k2Obj","type":9},{"address":"0x20001928","name":"k3comp","type":9},{"address":"0x20001964","name":"k3Obj","type":9},{"address":"0x2000191c","name":"k4comp","type":9},{"address":"0x20001958","name":"k4Obj","type":9},{"address":"0x20006f69","name":"l_add1","type":1},{"address":"0x20006ff7","name":"l_add10","type":1},{"address":"0x200070e0","name":"l_add11","type":1},{"address":"0x20006d99","name":"l_add12","type":1},{"address":"0x20006ee0","name":"l_add13","type":1},{"address":"0x20006f6a","name":"l_add14","type":1},{"address":"0x200070e8","name":"l_add15","type":1},{"address":"0x20006e57","name":"l_add16","type":1},{"address":"0x20006e21","name":"l_add17","type":1},{"address":"0x20006da6","name":"l_add18","type":1},{"address":"0x20006e20","name":"l_add19","type":1},{"address":"0x20006d98","name":"l_add2","type":1},{"address":"0x20006edc","name":"l_add20","type":1},{"address":"0x20006edd","name":"l_add3","type":1},{"address":"0x20006da3","name":"l_add4","type":1},{"address":"0x20006da5","name":"l_add5","type":1},{"address":"0x20006edf","name":"l_add6","type":1},{"address":"0x20006da4","name":"l_add7","type":1},{"address":"0x20006f6f","name":"l_add8","type":1},{"address":"0x20006e30","name":"l_add9","type":1},{"address":"0x200070e9","name":"l_RT1","type":1},{"address":"0x20006da7","name":"l_RT2","type":1},{"address":"0x20006f5b","name":"l_TC1","type":1},{"address":"0x20007068","name":"l_TC2","type":1},{"address":"0x20006e1c","name":"l_TSenMax","type":1},{"address":"0x20006da8","name":"l_TSenMin","type":1},{"address":"0x20000cd4","name":"longMessage","type":1},{"address":"0x20000cd2","name":"longMessageLastPtr","type":3},{"address":"0x200017d0","name":"longMessageScratchpad[0]","type":1},{"address":"0x20001798","name":"MBmessageParams[0]","type":5},{"address":"0x20000ce0","name":"message[0]","type":2},{"address":"0x20000cd8","name":"messageLength[0]","type":1},{"address":"0x20000c94","name":"messageParams[0]","type":1},{"address":"0x20000164","name":"modParam[0].paramFormat","type":2},{"address":"0x20000168","name":"modParam[0].paramName","type":5},{"address":"0x20000160","name":"modParam[0].paramPtr","type":5},{"address":"0x20006cfd","name":"Monitor_index","type":1},{"address":"0x20000000","name":"Monitor_time","type":5},{"address":"0x20000078","name":"monthStringAbreviated[0]","type":5},{"address":"0x20001064","name":"MsgDMAStopped[0]","type":1},{"address":"0x20001c78","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x20001c48","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x20001c58","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001c50","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x20001c5c","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x20001c54","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001c4c","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001c60","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x20001c44","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20001c64","name":"msgRxDMA[0].Lock","type":2},{"address":"0x20001c68","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20001c65","name":"msgRxDMA[0].State","type":2},{"address":"0x20001c6c","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x20001c74","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x20001c70","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20001bd0","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x20001ba0","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x20001bb0","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001ba8","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x20001bb4","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x20001bac","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001ba4","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001bb8","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x20001b9c","name":"msgTxDMA[0].Instance","type":5},{"address":"0x20001bbc","name":"msgTxDMA[0].Lock","type":2},{"address":"0x20001bc0","name":"msgTxDMA[0].Parent","type":5},{"address":"0x20001bbd","name":"msgTxDMA[0].State","type":2},{"address":"0x20001bc4","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x20001bcc","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x20001bc8","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000011","name":"myID","type":1},{"address":"0x200000a8","name":"myPN","type":3},{"address":"0x20000010","name":"N","type":1},{"address":"0x08018fa4","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f98","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x08018f9c","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x08018fa0","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200016ec","name":"needToDelayButtonStateReset","type":1},{"address":"0x20001558","name":"nonProcessingParameter[0]","type":1},{"address":"0x20006d1d","name":"nonProcessingParameterIndex","type":1},{"address":"0x20006d3c","name":"numCommandParameters","type":1},{"address":"0x20006bf8","name":"numOfBosCommands","type":1},{"address":"0x20000ea0","name":"numOfRecordedSnippets","type":1},{"address":"0x20006ed0","name":"offest","type":10},{"address":"0x20006e28","name":"OffsetTC","type":10},{"address":"0x20001540","name":"P1MsgTaskHandle","type":5},{"address":"0x20001544","name":"P2MsgTaskHandle","type":5},{"address":"0x20001548","name":"P3MsgTaskHandle","type":5},{"address":"0x2000154c","name":"P4MsgTaskHandle","type":5},{"address":"0x20001550","name":"P5MsgTaskHandle","type":5},{"address":"0x20001554","name":"P6MsgTaskHandle","type":5},{"address":"0x20001708","name":"packetEnd","type":6},{"address":"0x20001700","name":"packetLength","type":6},{"address":"0x200016fc","name":"packetStart","type":6},{"address":"0x20001704","name":"parseStart","type":6},{"address":"0x080190c4","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080190b8","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x080190bc","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x080190c0","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000ac","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x20000058","name":"pcParamsHelpString[0]","type":5},{"address":"0x20000c7c","name":"PcPort","type":1},{"address":"0x200000b8","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x200000b4","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x200000b0","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000c2c","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x20000ed8","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x200016cc","name":"percentage","type":9},{"address":"0x20006cfc","name":"perviousCharacter","type":1},{"address":"0x20007230","name":"pFlash.Address","type":5},{"address":"0x2000722c","name":"pFlash.DataRemaining","type":5},{"address":"0x20007244","name":"pFlash.ErrorCode","type":5},{"address":"0x20007240","name":"pFlash.Lock","type":2},{"address":"0x20007228","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x08018f74","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f68","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x08018f6c","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x08018f70","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006ee2","name":"pir","type":1},{"address":"0x20000c80","name":"portStatus[0]","type":1},{"address":"0x20006f5a","name":"PPULSE","type":1},{"address":"0x2000167c","name":"pressCounter[0]","type":5},{"address":"0x2000156c","name":"ProcessingParameter[0]","type":1},{"address":"0x20006d1c","name":"processingParameterIndex","type":1},{"address":"0x20006e1e","name":"Prox_data","type":3},{"address":"0x08018f64","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f58","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x08018f5c","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08018f60","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018f54","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f48","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x08018f4c","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08018f50","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006a60","name":"pxCurrentTCB","type":5},{"address":"0x20006bb0","name":"pxCurrentTimerList","type":5},{"address":"0x20006a5c","name":"pxDelayedTaskList","type":5},{"address":"0x20002014","name":"pxEnd","type":5},{"address":"0x20006a68","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x20006bb4","name":"pxOverflowTimerList","type":5},{"address":"0x20006afc","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x20006af8","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x20006b04","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x20006b08","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x20006b00","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x20006d20","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x20006d00","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x200016d4","name":"Rank_t","type":1},{"address":"0x08019124","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019118","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x0801911c","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x08019120","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x08019134","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019128","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x0801912c","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x08019130","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x200070e2","name":"RED_data","type":3},{"address":"0x20006f5c","name":"redReg","type":1},{"address":"0x20000e9c","name":"rejected_FLAG","type":1},{"address":"0x2000170e","name":"rejectedMsg","type":3},{"address":"0x20001698","name":"releaseCounter[0]","type":5},{"address":"0x20000054","name":"remoteVarFormat","type":2},{"address":"0x08019004","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018ff8","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x08018ffc","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08019000","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018f94","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f88","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x08018f8c","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x08018f90","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000c90","name":"responseStatus","type":2},{"address":"0x20006d90","name":"route[0]","type":1},{"address":"0x20000c24","name":"routeDist[0]","type":1},{"address":"0x20000c28","name":"routePrev[0]","type":1},{"address":"0x20001910","name":"RT","type":9},{"address":"0x200000e8","name":"RTbuf1[0]","type":1},{"address":"0x200000ec","name":"RTbuf2[0]","type":1},{"address":"0x20007154","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x20007150","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x2000715c","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x20007160","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x20007164","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x20007158","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x2000714c","name":"RtcHandle.Instance","type":5},{"address":"0x20007168","name":"RtcHandle.Lock","type":2},{"address":"0x20007169","name":"RtcHandle.State","type":2},{"address":"0x0801940c","name":"SampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019400","name":"SampleCommandDefinition.pcCommand","type":5},{"address":"0x08019404","name":"SampleCommandDefinition.pcHelpString","type":5},{"address":"0x08019408","name":"SampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018fe4","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018fd8","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x08018fdc","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x08018fe0","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200016b8","name":"sConfig.Channel","type":5},{"address":"0x200016bc","name":"sConfig.Rank","type":5},{"address":"0x200016c0","name":"sConfig.SamplingTime","type":5},{"address":"0x08019064","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019058","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x0801905c","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x08019060","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019014","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019008","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x0801900c","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x08019010","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x080190a4","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019098","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x0801909c","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x080190a0","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006ca4","name":"snippets[0].cmd","type":5},{"address":"0x20006c9a","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x20006c9e","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x20006c98","name":"snippets[0].cond.conditionType","type":1},{"address":"0x20006c99","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x20006ca8","name":"snippets[0].state","type":1},{"address":"0x20006f64","name":"stat1","type":1},{"address":"0x08018fc4","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018fb8","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x08018fbc","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x08018fc0","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801942c","name":"StopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019420","name":"StopCommandDefinition.pcCommand","type":5},{"address":"0x08019424","name":"StopCommandDefinition.pcHelpString","type":5},{"address":"0x08019428","name":"StopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200018f0","name":"stopStream","type":1},{"address":"0x0801941c","name":"StreamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019410","name":"StreamCommandDefinition.pcCommand","type":5},{"address":"0x08019414","name":"StreamCommandDefinition.pcHelpString","type":5},{"address":"0x08019418","name":"StreamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a80","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20001a50","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20001a60","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001a58","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20001a64","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x20001a5c","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001a54","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x20001a68","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x20001a4c","name":"streamDMA[0].Instance","type":5},{"address":"0x20001a6c","name":"streamDMA[0].Lock","type":2},{"address":"0x20001a70","name":"streamDMA[0].Parent","type":5},{"address":"0x20001a6d","name":"streamDMA[0].State","type":2},{"address":"0x20001a74","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x20001a7c","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x20001a78","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x2000017c","name":"SystemCoreClock","type":5},{"address":"0x20001904","name":"TC","type":9},{"address":"0x20006e52","name":"TC1","type":4},{"address":"0x20006f58","name":"TC2","type":4},{"address":"0x200000e0","name":"TCbuf1[0]","type":1},{"address":"0x200000e4","name":"TCbuf2[0]","type":1},{"address":"0x20001998","name":"TCF","type":9},{"address":"0x20000008","name":"temp","type":9},{"address":"0x20000008","name":"temp","type":9},{"address":"0x00000000","name":"tempHumAdd","type":1},{"address":"0x00000000","name":"tempReg","type":1},{"address":"0x08019104","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080190f8","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x080190fc","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x08019100","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019044","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019038","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x0801903c","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x08019040","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200018ee","name":"timedoutMsg","type":3},{"address":"0x200019a0","name":"Total_temp","type":9},{"address":"0x200016f8","name":"totalnumberofrecevedmesg","type":5},{"address":"0x200016f4","name":"totalnumberoftransmiitedmesg","type":5},{"address":"0x00000000","name":"TSD305_ADDR","type":1},{"address":"0x20001994","name":"Tsen","type":9},{"address":"0x20006fe8","name":"Tsen2","type":4},{"address":"0x200000d8","name":"TSenMax[0]","type":1},{"address":"0x20006f6c","name":"TSenMax_Value","type":4},{"address":"0x200000dc","name":"TSenMin[0]","type":1},{"address":"0x20006eda","name":"TSenMin_Value","type":4},{"address":"0x20006d3d","name":"twoDMatrixIndex","type":1},{"address":"0x2000106c","name":"UARTRxBufIndex[0]","type":1},{"address":"0x20002024","name":"ucHeap[0]","type":1},{"address":"0x20001638","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x20006ae4","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x080190f4","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080190e8","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x080190ec","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x080190f0","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001538","name":"UserTaskHandle","type":5},{"address":"0x08019074","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019068","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x0801906c","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x08019070","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006bbc","name":"uwTick","type":5},{"address":"0x2000018c","name":"uxCriticalNesting","type":5},{"address":"0x20006a6c","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x20006af4","name":"uxPendedTicks","type":5},{"address":"0x20006aec","name":"uxSchedulerSuspended","type":5},{"address":"0x20006ad8","name":"uxTaskNumber","type":5},{"address":"0x20006ae8","name":"uxTasksDeleted","type":5},{"address":"0x20006adc","name":"uxTopReadyPriority","type":5},{"address":"0x20006ee4","name":"val","type":3},{"address":"0x08018e04","name":"weekdayString[0]","type":5},{"address":"0x20006ec8","name":"WTIME","type":1},{"address":"0x20006b8c","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x20006b88","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x20006b94","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x20006b98","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x20006b90","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x20006ba0","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x20006b9c","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x20006ba8","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x20006bac","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x20006ba4","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x20002018","name":"xBlockAllocatedBit","type":5},{"address":"0x2000153c","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x20006a74","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x20006a70","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x20006a7c","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x20006a80","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x20006a78","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x20006a88","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x20006a84","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x20006a90","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x20006a94","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x20006a8c","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x20002020","name":"xFreeBytesRemaining","type":5},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x08019454","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x08019448","name":"xHelpCommand.pcCommand","type":5},{"address":"0x0801944c","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x08019450","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x2000201c","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x20000190","name":"xNextTaskUnblockTime","type":5},{"address":"0x20006af0","name":"xNumOfOverflows","type":6},{"address":"0x20006a9c","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x20006a98","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x20006aa4","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x20006aa8","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x20006aa0","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x200071e8","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x200071ec","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x20000184","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x20000188","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x20006ad4","name":"xSchedulerRunning","type":6},{"address":"0x2000200c","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x20002010","name":"xStart.xBlockSize","type":5},{"address":"0x20006ac4","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x20006ac0","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x20006acc","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x20006ad0","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x20006ac8","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x20006ab0","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x20006aac","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x20006ab8","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x20006abc","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x20006ab4","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x20006a64","name":"xTickCount","type":5},{"address":"0x20006b84","name":"xTimerQueue","type":5},{"address":"0x20006ae0","name":"xYieldPending","type":6}],"expand":false,"filename":"H09R9x.elf","exeModifiedTime":1640223704903,"configLastUpdate":1640223791680},{"id":"88960b2a.8e7c28","type":"ui_group","z":"","name":"Temperature Sensor","tab":"eb24e2b6.e61ae","order":2,"disp":true,"width":10,"collapse":false},{"id":"4005c42a.8add1c","type":"ui_group","z":"","name":"Stream","tab":"eb24e2b6.e61ae","order":4,"disp":true,"width":10,"collapse":false},{"id":"990d8831.91f8f8","type":"ui_group","z":"","name":"Sample","tab":"eb24e2b6.e61ae","order":3,"disp":true,"width":10,"collapse":false},{"id":"eb24e2b6.e61ae","type":"ui_tab","z":"","name":"Temperature Sensor","icon":"dashboard","disabled":false,"hidden":false}]